{# src/NAC/PlatformBundle/Resources/views/Advert/edit.html.twig #}

{% extends "NACPlatformBundle::layout.html.twig" %}

{% block title %}
  Ajouter une annonce - {{ parent() }}
{% endblock %}

{% block nacplatform_body %}

  <h2>Ajouter une annonce</h2>

  {{ include("NACPlatformBundle:Advert:form.html.twig") }}

  <p>
    Vous éditez une annonce déjà existante, merci de ne pas changer
    l'esprit générale de l'annonce déjà publiée.
  </p>

  

{% endblock %}