
  <h5>Bonjour {{ application.author }},</h5>
  <p>Merci de vous être inscris à la formation {{ advert.title }}.</p>
  <p>Code AirtelMoney {{ advert.compte }}</p>
 
  
  <br />
  <p>
	  Bien cordialement,<br/>
	  L'équipe de Net Africa Consult
  </p>
  

