
  <h5>Bonjour {{ advert.author }},</h5>
  <p>Vous avez une nouvelle inscription à la formation {{ advert.title }}.</p>
  <p><a href="http://netafrica-consult.com/login">Consulter la candidature</a></p>
  
  <br />
  <p>
	  Bien cordialement,<br/>
	  L'équipe de Net Africa Consult
  </p>
  

