<div class="well">
	<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal well" role="form">
		{{ form_widget(form) }}
		<hr>
		<div class="form-group">
			<center>
			<input class="btn btn-primary" type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
		    </center>
		</div>
	</form>
</div> 